<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
     
    </system.web>
  <appSettings>
    <!--公司微信公众订阅号-->
    <!--<add key="appid" value="wxa8f97bba9ebb7d27"/>
    <add key="secret" value="1f9381bd5c8f08b0c4dda7ac55b19769"/>-->

    <add key="appid" value="wxa29576cd9bb8fa92"/>
    <add key="secret" value="841a341dc0e60c105a14ee9734d51319"/>
    <add key="token" value="anyangmaxin"/>
  </appSettings>
 
</configuration>
