 body {
            padding: 5px;
            margin: 0;
            padding-bottom: 15px;
        }

        #layout1 {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        #accordion1 {
            width: 100%;
            overflow: hidden;
        }
        #accordion1 ul {
            width: 100%
        }
        #accordion1 ul li {
            list-style: none;
            float: left;
            width: 95%;
            line-height: 25px;
            padding-left: 5%;
            cursor: pointer;
        }
        #accordion1 ul li:hover {      
             background: #87ceeb;
        }




        .l-tab-content-item iframe {
            height: 100%;
        }




        /*********************footer样式**************************/
        .footer {
         
            height: 35px;
            margin:10px auto;
            text-align: center;
        }

        .footer ul {
            text-align: center;
            margin: 0  auto;
        }

        .footer ul li {
            display: inline;
        
           padding:0 10px 0 10px;
           list-style-type:none;

        }

        .footer ul li a {
            font-size: 14px;
            color: #0094ff;
            text-decoration: none;
        }

